* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.tela{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
    
}

.petlovers-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vh;
    height: 80vh;
    
}

.pets_photo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    
}

.pets_photo img {
    height: 31rem;
    border: 1px solid lightgray;
    
}

.petlovers-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.6rem 0;
    border: 1px solid lightgray;
    max-width: 400px;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.petlovers-logo {
    height: 5rem;
}

.profile-photo {
    display: flex;
    justify-content: top;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 7rem;

}

.petlovers-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    margin-top: 35px;
}

.petlovers-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around ;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    max-width: 500px;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
    
}

.app-download:nth-child(1) {
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('./img/googleplay-button.png');
}

/* media queries */

@media (max-height: 550px ) and (min-width:651px){
    .get-the-app {
        margin-top: 10rem;

    }
    .petlovers-wrapper{
        padding-top: 2.3rem;
    }
}

@media (max-width: 1100px) {
    .petlovers-wrapper {
        width: 90%;
        margin-inline: 150px;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .petlovers-wrapper {
        width: 90%;
    }

    .pets_photo {
        display: none;
        
    }

    .petlovers-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }

    
}